.notice {
  color: $color-white;
  background: $color-blue;
  text-align: center;
  font-weight: bold;
}

.alert {
  color: $color-white;
  background: red;
  text-align: center;
  font-weight: bold;
}
