@charset 'utf-8';

//color
$color-white: #fff;
$color-blue: #38AEF0;
$color-gray: #999;
$color-header: #333;
$color-doc: #464A5f;

//Background color
$color-main-bg: #aaa;
$color-sidetop-bg: #253141;
$color-side-bg: #2f3e51;
$color-form-bg: #ddd;

//interval
$space-unit: 20px;
